<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="Http">
            <directory>tests/Http</directory>
        </testsuite>
        <testsuite name="Localization">
            <directory>tests/Localization</directory>
        </testsuite>
        <testsuite name="Function">
            <directory>tests/function</directory>
        </testsuite>
        <testsuite name="Configuration">
            <directory>tests/Configuration</directory>
        </testsuite>
        <testsuite name="Ppa">
            <directory>tests/Ppa</directory>
            <exclude>tests/Ppa/Fixtures</exclude>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
            <exclude>tests/Integration/Fixtures</exclude>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>integration</group>
            <group>pool</group>
            <group>swoole</group>
        </exclude>
    </groups>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>

    <!--
    Coverage report: run with XDEBUG_MODE=coverage php vendor/bin/phpunit
    or add the -\-coverage-html build/coverage flag.
    <coverage>
        <report>
            <html outputDirectory="build/coverage"/>
        </report>
    </coverage>
    -->

</phpunit>
