<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="Http">
            <directory>tests/Http</directory>
            <exclude>tests/Http/Fixtures</exclude>
        </testsuite>
        <testsuite name="Localization">
            <directory>tests/Localization</directory>
        </testsuite>
        <testsuite name="Function">
            <directory>tests/function</directory>
        </testsuite>
        <testsuite name="Configuration">
            <directory>tests/Configuration</directory>
        </testsuite>
        <testsuite name="Ppa">
            <directory>tests/Ppa</directory>
            <exclude>tests/Ppa/Fixtures</exclude>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
            <exclude>tests/Integration/Fixtures</exclude>
        </testsuite>
        <testsuite name="Process">
            <directory>tests/Process</directory>
            <exclude>tests/Process/Fixtures</exclude>
        </testsuite>
        <testsuite name="Schedule">
            <directory>tests/Schedule</directory>
            <exclude>tests/Schedule/Fixtures</exclude>
        </testsuite>
        <testsuite name="Concurrent">
            <directory>tests/Concurrent</directory>
        </testsuite>
        <testsuite name="App">
            <directory>tests/App</directory>
        </testsuite>
        <testsuite name="Route">
            <directory>tests/Route</directory>
            <exclude>tests/Route/Fixtures</exclude>
        </testsuite>
        <testsuite name="Architecture">
            <directory>tests/Architecture</directory>
        </testsuite>
        <testsuite name="Collector">
            <directory>tests/Collector</directory>
        </testsuite>
        <testsuite name="Core">
            <directory>tests/Core</directory>
        </testsuite>
        <testsuite name="Console">
            <directory>tests/Console</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>integration</group>
            <group>pool</group>
            <group>cdo-diagnostic</group>
            <group>swoole</group>
        </exclude>
    </groups>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>

    <!--
    Coverage report: run with XDEBUG_MODE=coverage php vendor/bin/phpunit
    or add the -\-coverage-html build/coverage flag.
    <coverage>
        <report>
            <html outputDirectory="build/coverage"/>
        </report>
    </coverage>
    -->

</phpunit>
